$iconSize: 24px;

.icon {
  display: inline-block;
  vertical-align: text-top;
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  width: $iconSize;
  height: $iconSize;
}
